.container {
  max-width: 100%;
}

header {
}

nav {
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flexs;
  align-items: center;
  background-color: red;
}

.logo > li {
  display: in;
}

.gnb {
  .gl;
}

.gnb ul.;
