.main {
  width: 600px;
  margin: 0 auto;
}

.box {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  position: relative;
}

.box1 {
  background-color: blue;
}
.box2 {
  background-color: rgb(255, 0, 200);
}
.box3 {
  background-color: rgb(81, 255, 0);
}
.box4 {
  background-color: rgb(255, 166, 0);
}
.box5 {
  background-color: rgb(255, 94, 0);
}
.btns {
  margin-top: 20px;
}
